/* Import Google Font - Poppins */
::selection{
  color: #fff;
  background: #71b288;
}
.wrapper{
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
header h2{
  font-size: 24px;
  font-weight: 600;
}
header p{
  margin-top: 5px;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center; 
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px; 
}
.searchbox {
  width: 200px;
}